#contenedor{
    background: #fff8f0;
    font: 16px 'Times new Roman', sans-serif;
}
div.encabezado{
    background-image:url("../imgs/favicon.png"),url("../imgs/guesteaus.png");
    background-position: left,center;
    background-repeat: no-repeat;
    background-size: contain,cover;
    font: 36px 'Georgia', serif;
    color:#5a3e36;
    text-align: center;
    padding-top: 10px;
}
div.menu ul li a{
    color:#ffffff;
    font: 18px 'Helvetica', sans-serif;
    text-decoration: none;
    margin: 20px;
}
.menu{
    background-color: #a77e58;
    text-align: center;
}
div.menu ul li a:hover{
    color: #8b6f47;
}
div.menu li{
    display: inline;
    list-style: none;
}
div.contenido{
    background-color: #fff8f0;
    color: #5a3e36;
    font: 18px 'Georgia', serif;
}
div.sidebar{
    background-color: #ecdcc6;
    color: #5a3e36;
    font: 18px 'Georgia', serif;
}
div.pie{
    background-color: #5a3e36;
    color:#ecdcc6;
    font: 16px 'Helvetica', sans-serif;
    text-align: center;
}
div.pie li{
    display: inline;
    list-style: none;
}
div.pie ul li a{
    color:#ecdcc6;
    text-decoration: none;
    margin: 20px;
}